<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="about-content">
        <h2>About Us</h2>
        <h3>Hi there!</h3>
        <p>I'm <b>Lubna</b> and I created this blog as a simple, open space where ideas can be shared freely. Writing has always helped me learn, reflect, and express myself — and this website is my way of bringing those thoughts together in one place.</p><br>
        <p>Here, you’ll find posts inspired by curiosity, learning, experiences, and everyday moments. Some blogs might be educational, some personal, and some just small thoughts I wanted to put out into the world. My goal is to keep this space honest, meaningful, and enjoyable for anyone who visits.</p><br>
        <p>One thing that makes this blog special is that it isn’t just <i>my</i> space — <br> 
        <b>Anyone can contribute and add new blogs here.</b></p>
        <p>If you have something to say, share, or teach, you’re welcome to create your own post and become part of this growing collection of ideas.</p><br>
        <p>Thank you for being here.</p>
        <p>I hope you enjoy reading these posts as much as I enjoy writing them — and I hope you feel encouraged to add your own voice too.</p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>

</html>